.packhovered:hover .scaleImg{
  transition: all 1s ease;
  transform: scale(0.95,0.95);
}
.programmePostion {
  position: absolute;
  top: 45%;
  left:50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  border-radius: 20px;
  font-size: 10px;
}
.customHeight {
  height: 60vh
}
@media (min-width: 576px) { 
  .programmePostion {
    position: absolute;
    top: 27%;
    left:50%;
  }
 }
 @media (min-width: 992px) { 
  .programmePostion {
    position: absolute;
    top: 42%;
    left:50%;
  }
 }