 .cataloguepositiontop{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 75%;
    background-color: rgb(68, 67, 67);
    z-index: 10000;
}
.cataloguepositionAboveTop{
    top: 10%;
    left: 5%;
    width: 90%;
    z-index: 30000;
    border-radius: 10px;
}
@media (min-width: 992px) { 
.cataloguepositionAboveTop{
    top: 10%;
    left: 5%;
    width: 60%;
    
}
}